/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.tgd-filler {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tgd-wrapper {
    width: 95%;
    max-width: 1500px;
    height: 90%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tgd-outer {
    position: absolute;
    top: 0;
    height: 100%;
    /*padding-bottom: 25%;*/
    width: 100%;
    /*border: solid 2px black;*/
}

.tgd-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr 40px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.tgd-inner>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.tgd-inner>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.tgd-inner>*:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
}

.tgd-inner>*:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
}

.tgd-inner>*:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.tgd-inner>*:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.tgd-inner>*:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
}

.tgd-inner>*:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
}

.tgd-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    width: 100%;
    opacity: 0.8;
}

.tgd-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 73, 0, 0.8);
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.tgd-bg:hover .tgd-overlay {
    height: 100%;
}

.tgd-item:first-child {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    font-size: 24px;
}

.tgd-bg {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.tgd-overlay>* {
    position: absolute;
}

.tgd-bg h3 {
    color: #ffffff;
    text-shadow: rgb(0, 64, 0) 1px 0px 0px, rgb(0, 64, 0) 0.540302px 0.841471px 0px, rgb(0, 64, 0) -0.416147px 0.909297px 0px, rgb(0, 64, 0) -0.989992px 0.14112px 0px, rgb(0, 64, 0) -0.653644px -0.756802px 0px, rgb(0, 64, 0) 0.283662px -0.958924px 0px, rgb(0, 64, 0) 0.96017px -0.279415px 0px;
    top: 2em;
    left: 2em;
    font-size: 2em;
    position: absolute;
}

.tgd-item {
    font-size: 15px;
}

.tgd-overlay span {
    color: #ffffff;
    bottom: 2em;
    right: 2em;
    width: 60%
}

.tgd-overlay .tgd-click {
    top: 2em;
    left: 2em;
    text-align: left;
    font-style: italic;
}

@media(max-width: 1200px) {
    .tgd-inner {
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-rows: 1fr 15px 1fr 15px 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }

    .tgd-inner>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .tgd-inner>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 5;
    }

    .tgd-inner>*:nth-child(7) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(8) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(9) {
        -ms-grid-row: 5;
        -ms-grid-column: 5;
    }

    .tgd-bg h3 {
        top: 1em;
        left: 1em;
        font-size: 1.7em;
    }

    .tgd-overlay span {
        bottom: 1em;
        right: 5%;
        left: 5%;
        width: 90%;
        text-align: right;
    }

    .tgd-overlay .tgd-click {
        top: 2px;
        left: 2px;
    }
}

@media(min-width: 768px) {
    .tgd-filler {
        background-image: none !important
    }
}

@media(max-width: 767px) {
    .tgd-inner {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: 1fr 10px 1fr 10px 1fr 10px 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
    }

    .tgd-inner>*:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(6) {
        -ms-grid-row: 5;
        -ms-grid-column: 3;
    }

    .tgd-inner>*:nth-child(7) {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }

    .tgd-inner>*:nth-child(8) {
        -ms-grid-row: 7;
        -ms-grid-column: 3;
    }

    .tgd-overlay span {
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 2px;
    }

    .tgd-filler, .tgd-inner {
        position: relative;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tgd-wrapper {
        padding-bottom: 125%;
        height: 0
    }

    .tgd-item {
        font-size: 12px;
    }

    .tgd-item:first-child {
        font-size: 18px;
    }
}

@media(max-width: 450px) {
    .tgd-wrapper {
        padding-bottom: 150%;
    }
}

@media(max-height: 700px) {
    .position-content, .inner-visual, .inner-visual>img, .jma-min-height .wp-block-getwid-section__wrapper {
        min-height: 500px !important
    }
}